<?xml version="1.0"?>
<launch>
  <!-- TODO: add weights -->
  <arg name="rate" default="5.0"/>
  <arg name="control_horizon" default="20"/>
  <arg name="safety_distance" default="0.25"/>

  <node name="mpc_node" pkg="mpc_control" type="mpc" respawn="false" output="screen">
    <param name="rate" value="$(arg rate)"/>
    <param name="control_horizon_len" value="$(arg control_horizon)"/>
    <param name="obstacles_safety_distance " value="$(arg safety_distance)"/>
  </node>
          
</launch>

